<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Rendering</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h3>v-for array</h3>
        <ul id="example-1">
            <li v-for="(product, index) in listProduct" :key="product.id">{{ index }} : {{ product.name }}</li>
        </ul>

        <hr>
        <h3>v-for object</h3>
        <ul id="v-for-object" class="demo">
            <li v-for="(value, name, index) in product">
              {{ index }} . {{ name }} : {{ value }}
            </li>
          </ul>
        <hr>
        <div>
            <span v-for="n in 10">{{ n }} </span>
        </div>
        <hr>
        <h3>v-for with v-if</h3>
        <ul v-if="listProduct.length">
            <li v-for="(product, index) in listProduct" :key="product.id" v-if="product.isStock">{{ product.name }}</li>
        </ul>
        <p v-else>No Product on list!</p>
    </div>
</body>
<script src="main.js"></script>
</html>