<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Rendering</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h3 v-if="isStock">Còn Hàng</h3>
        <h3 v-else>Hết Hàng</h3>
        <ul>
            <li @click="formType='login'" style="cursor: pointer;"><a>Login</a></li>
            <li @click="formType='register'" style="cursor: pointer;"><a>Register</a></li>
        </ul>
        <template v-if="formType == 'register'">
            <label>Username</label>
            <input placeholder="Enter your username"><br>
            <label>Password</label>
            <input placeholder="Enter your password"><br>
            <label>Re Password</label>
            <input placeholder="Enter repassword"><br>
            <button>Register</button>
          </template>
          <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address"><br>
            <label>Password</label>
            <input placeholder="Enter your pass"><br>
            <button>Login</button>
          </template>
          <hr>
          <h1 v-show="isShow">Hello!</h1>


    </div>
</body>
<script src="main.js"></script>
</html>