<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Handling</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div id="example-1">
            <button @click="counter += 1">Add 1</button>
            <p> clicked : {{ counter }} .</p>
        </div>

        <div id="example-2">
            <button @click="greet">Greet</button>
        </div>

        <div id="example-3">
            <button @click="say('SUCCESS')">Success</button>
            <button @click="say('ERROR')">Error</button>
        </div>
        <hr>
        <button v-on:click="warn('Form cannot be submitted yet.', $event)">
            Submit
        </button>
    </div>
</body>
<script src="main.js"></script>
</html>