<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Class and style binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .active {
            color: red;
            background-color: aquamarine;
        }
        .text {
            width: 200px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 :class="{ active : isActive }">{{ message }}</h1>
        <button @click="isActive = true" :disabled="isActive">Active</button>
        <button @click="isActive = false" :disabled="!isActive">DeActive</button>
        <h1 :class="[activeClass, textClass]">{{ message }}</h1>
        <hr>
        <div :style="{ color: activeColor, fontSize: fontSize + 'px' }">{{ message }}</div>
        <div :style="styleObject">{{ message }}</div>
    </div>
</body>
<script src="main.js"></script>
</html>