<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Basic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .btn-delete {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div id="app">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>

        <hr>
        <product-item product="IPHONE 7"></product-item>
        <product-item product="IPHONE 8"></product-item>
        <product-item product="IPHONE X"></product-item>
        <hr>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <product-item
                v-for="product in products"
                :product="product"
                :key="product.id"
                @handle-delete="handleDelete"
            ></product-item>
        </div>
        
        <hr>
        <custom-input :value="searchText" v-model="searchText"></custom-input>

        <hr>
        <alert-box>
            in line 78
        </alert-box>
    </div>
</body>
<script src="main.js"></script>
</html>