<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS - Template Syntax </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ message }}</h1>
        <button @click="handChangeTitle">Change Title</button>
        <div :id="'list'+category.id">{{ category.name }}</div>
        <div>
            <input :disabled="isInputDisabled" type="text" value="TEST">
            <button @click="handleChangeStatusInput">disable/enable input</button>
        </div>
    </div>
</body>
<script src="main.js"></script>
</html>