<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Input Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <span>Message :</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>

        <hr>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <hr>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <hr>
        <input type="radio" id="male" value="male" v-model="picked">
        <label for="male">Male</label>
        <br>
        <input type="radio" id="femail" value="femail" v-model="picked">
        <label for="femail">Femail</label>
        <br>
        <span>Picked: {{ picked }}</span>

        <hr>
        <select v-model="selected">
            <option disabled value="">Select Category</option>
            <option>IHONE</option>
            <option>SAMSUNG</option>
            <option>NOKIA</option>
            <option>OPPO</option>
          </select>
          <span>Category Selected: {{ selected }}</span>
        
        <hr>
        <select v-model="categorySelected" multiple>
            <option disabled value="">Select Category</option>
            <option>IHONE</option>
            <option>SAMSUNG</option>
            <option>NOKIA</option>
            <option>OPPO</option>
          </select>
          <span>Category Selected: {{ categorySelected }}</span>

        <hr>
        <select v-model="categorySelect">
            <option v-for="category in categoryList" :value="category.name">
              {{ category.name }}
            </option>
        </select>
        <span>Selected: {{ categorySelect }}</span>

        <hr>
        <label>Tuổi : </label>
        <input disabled type="text" :value="2021-year"><br>
        <label>Năm sinh </label>
        <input v-model.number="year" type="number">
    </div>
</body>
<script src="main.js"></script>

</html>